<!DOCTYPE html>
<html>
<head>
    <title>Attempt Uploaded Test</title>
</head>
<body>
  <h1>Attempt Uploaded Test</h1>
  <h2>{{ test_details.test_name }}</h2>

  <form method="POST" action="/submit_uploaded_test/{{ test_details._id }}">
    <p>Debug: Number of Questions: {{ test_data|length }}</p>

    {% for question in test_data %}
      <div class="question">
        <p>{{ question['Question'] }}</p>
        <div class="options">
          <input type="radio" name="question_{{ loop.index }}" value="{{ question['Option 1'] }}"> {{ question['Option 1'] }}<br>
          <input type="radio" name="question_{{ loop.index }}" value="{{ question['Option 2'] }}"> {{ question['Option 2'] }}<br>
          <input type="radio" name="question_{{ loop.index }}" value="{{ question['Option 3'] }}"> {{ question['Option 3'] }}<br>
          <input type="radio" name="question_{{ loop.index }}" value="{{ question['Option 4'] }}"> {{ question['Option 4'] }}<br>
        </div>
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Submit Test</button>
  </form>
</body>
</html>
