<!DOCTYPE html>
<html>
<head>
    <title>Created Tests</title>
</head>
<body>
    <h1>Tests uploaded by {{ admin_name }}!</h1>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Test Name</th>
                <th>Uploaded At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for test in uploaded_tests %}
            <tr>
                <td>{{ test['test_name'] }}</td>
                <td>{{ test['created_at'] }}</td>
                <td>
                    <a href="{{ url_for('view_uploaded_test', test_id=test['_id']) }}">View Test Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/admin_dashboard">Back to Admin Dashboard</a>
</body>
</html>
